<form action="/categories/getcontent2" method="post">
    <input id="name" type="text" name="name" />
    <input id="surname" type="text" name="surname" />
    <button type="submit">Submit</button>
</form>