@inject IConfiguration configuration

@{
    ViewData["Title"] = "Home Page";
    var name = "Çağıl Alsaç";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <hr />
    <p>Version: @configuration["App:Version"]</p>
    <p>Date: @configuration["App:Date"]</p>
</div>
