@inject IConfiguration configuration

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Books MVC</h1>

    <hr />
    <p>Version: @configuration["App:Version"]</p>
    <p>Date: @DateTime.Now.ToString("d")</p>
</div>
